<template name="SideNav">
	<nav class="side-nav">
		<ul>
			<li>
				<a href={{pathToProfile}}> <i class="fa fa-user" aria-hidden="true"></i> Profile </a>
			</li>
			<li>
				<a href="/leaderboard"> <i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard </a>
			</li>
			<li>
				<a href="/map"> <i class="fa fa-play" aria-hidden="true"></i> Play Game </a>
			</li>
			<li>
				<a href="/createTrivia"> <i class="fa fa-question" aria-hidden="true"></i> Create a Trivia Question </a>
			</li>
			<li>
				<a class="logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out </a>
			</li>

		</ul>
		
	</nav>
	
</template>
