<template name="SideNav">
	<nav class="navbar navbar-fixed-bottom">
		<div class="container" id="navContainer">
<!-- 			<div class="tabs"> -->
				<div class="col-md-2 tab">
					<a href="#" class="buttonsClick">
						<i class="fa fa-info" aria-hidden="true">
							<p>How to Play</p>
						</i>
					</a>
				</div>
				<div class="col-md-2 tab">
					<a href={{pathToProfile}} class="buttonsClick"> 
						<i class="fa fa-user" aria-hidden="true">
							<p>User Profile</p>
						</i>
					</a>
				</div>
				<div class="col-md-2 tab">
					<a href="/leaderboard" class="buttonsClick">
						<i class="fa fa-trophy" aria-hidden="true">
							<p>Leaderboard</p>
						</i>  
						 
					</a>
				</div>
				<div class="col-md-2 tab">
					<a href="/map" class="buttonsClick"> 
						<i class="fa fa-play" aria-hidden="true">
							<p>Play Game</p>
						</i>
					</a>
				</div>
				<div class="col-md-2 tab">
					<a href="/createTrivia" class="buttonsClick"> 
						<i class="fa fa-question" aria-hidden="true">
							<p>New Question</p>
						</i>
					</a>
				</div>
				<div class="col-md-2 tab">
					<a id="logout" class="buttonsClick"> 
						<i class="fa fa-sign-out" aria-hidden="true">
							<p>Sign Out</p>
						</i> 
					</a>
				</div>
<!-- 			</div> -->
		</div>
	</nav>
</template>
