<template name="HomeLayout">
	{{> Header }}
<!-- 	{{> SideNav }} -->
	<main>
		<div class="jumbotron">
		  <h1>Trivia Hunt</h1>
		  <p>Explore new places and answer puzzling trivia questions in a "Choose Your Own Adventure" type game.</p>
		  <br>
		  <h3>How to Play</h3>
		  <p>As you explore the area around you, the game will show you two places on the map where you need to go and "check-in".  A check-in will award you 10 points.  Once you arrive at that location you will be prompted with a trivia question. </p>
		  <p>If you answer the question correctly, you will get </p>
		  <p> Sign in or Register now to start playing! </p>
		  <p>
		  	<a class="btn btn-primary btn-lg" href="/sign-in" role="button">Sign In!</a>
		  	<a class="btn btn-primary btn-lg" href="/register" role="button">Register!</a>
		  </p>
		</div>
	</main>
</template>

